<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>Users List</h1>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">User Name</th>
                        <th scope="col">Videos</th>
                        <th scope="col">Talleres</th>
                        <th scope="col">Lecturas</th>
                        <th scope="col">Ejercicios Prácticos</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users; index as i">
                        <td>
                            <a [routerLink]="['/user-edit', user._id]"> {{ user.username  }}</a>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>