<div class="container-lg">
    <div class="row">
        <div class="col-sm">
            <h4>Users List</h4>
        </div>
        <div class="col-sm text-right">
            <span *ngIf="!showLogin" class="badge bg-success ll">
                <a href="#" (click)="logoutUser()" class="logoutLink">Logout</a>
            </span>
            <span *ngIf="showLogin" class="badge bg-light ll">
                <a href="#" (click)="loginLink()" class="loginLink">Login</a>
            </span>
        </div>
    </div>
</div>

<div class="container-lg">
    <div class="row">
        <div class="col-sm">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">User Name</th>
                        <th scope="col">Training</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of publicdata">
                        <td>
                            <a class="edituserlink" [routerLink]="['/user-edit', user._id]" (click)="saveId(user._id)">
                                {{ user.username }}</a>
                        <td>
                            <span [className]="'badge rounded-pill myBadge ' + t.training_type.trainingTypeName"
                                *ngFor="let t of user.TrainingTimes">
                                {{t.course.courseName}} - {{t.timespent}}h
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<jw-modal id="modal-1">
    <h3>Login</h3>
    <form [formGroup]="loginForm">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text">Email</label>
            </div>
            <input type="text" class="form-control" formControlName="email" name="email">
        </div>
        <span class="invalid" *ngIf="loginForm.controls['email'].errors">
            Name is required.
        </span>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text">Password</label>
            </div>
            <input type="password" class="form-control" formControlName="password" name="password">
        </div>
        <span class="invalid" *ngIf="loginForm.controls['password'].errors">
            Password cannot be blank.
        </span>
        <button type="button" class="btn btn-info loginbutton" [disabled]="!loginForm.valid || badCredentials"
            (click)="loginUser()">
            Login

            <span class="badge bg-warning" [hidden]="!badCredentials">BAD LOGIN</span>
        </button>


    </form>
</jw-modal>