.Video {
    background-color: green;
    color: white
}

.Lectures {
    background-color: aqua;
    color: black;
}

.Workshop {
    background-color: cadetblue;
    color: black
}

.Exercises {
    background-color: darkgoldenrod;

}

.invalid {
    display: block;
    color: red;
    margin: -17px 0 10px 0;
    padding: 0;
}

.logoutLink {
    color: white;
    padding: 10px;

}

.loginbutton {
    transition-property: width;
    transition-duration: 500ms;
}

.myBadge {
    padding: 10px;
    margin: 0 6px 6px 0
}