.Video {
    background-color: green;
    color: white
}

.Lecture {
    background-color: aqua;
    color: black;
}

.Workshop {
    background-color: cadetblue;
    color: black
}

.Exercise {
    background-color: darkgoldenrod;

}

.invalid {
    display: block;
    color: red;
    margin: -17px 0 10px 0;
    padding: 0;
}

.logoutLink {
    color: white;
}

.loginbutton {
    transition-property: width;
    transition-duration: 500ms;
}

.myBadge {
    padding: 10px;
    margin: 0 6px 6px 0
}

.ll {
    margin: 8px 0 0 0;
    padding: 7px;
}

.search-box {
    margin-bottom: 10px
}