<div class="container-lg">
    <div class="row">
        <div class="col-sm">
            <h1>Users List</h1>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">User Name</th>
                        <th scope="col">Training</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of publicdata">
                        <td>
                            <a [routerLink]="['/user-edit', user._id]"> {{ user.username  }}</a>
                        <td>
                            <span [className]="'badge rounded-pill ' + t.training_type.trainingTypeName"
                                *ngFor="let t of user.TrainingTimes">
                                {{t.course.courseName}} - {{t.timespent}}h
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>